{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block body %}
<link href="styless.css" rel="stylesheet">

<section class="intro">
    <div class="h-[32rem] w-full">
       <img class="w-full h-[40rem] " src="{% static 'ActivityEvents/HUB200image-main.png'%}" alt="">
    </div>
</section>
<section class="events mb-[2rem]">
   <h1 class="mt-20 ml-9 mb-10 text-3xl mb-20" id="title"><strong>Upcoming Events</strong></h1>

   <div class="w-full h-full grid grid-cols-3 grid-row-3 gap-[4rem]">

      {% for event in all_events %}

    <div class="w-[23rem] max-w-md bg-[#E8F5FF] rounded-xl shadow-md overflow-hidden md:max-h-xl ml-9">
      <div class="w-full" id="post">
       <div class="w-full">
          <img class="h-80 w-full object-cover" src="media/{{event.image}}" alt="">
       </div>
      </div>
    <div class="p-8">
       <br/>
        <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold mb-3 text-stone-900  ">{{event.title}}</div>
        <br/>
        <a href="{% url 'display_event' event_id=event.id %}" class="block mt-1 text-lg leading-tight font-medium text-gray-500 mb-5">{{event.description}}</a>
        <a href="{% url 'display_event' event_id=event.id %}" class="ml-40 text-cyan-500 hover:line-sky-700">Read More...</a>
       <br/>
       </div>
    </div>

    {% endfor %}
    </div>




</div>
</section>



<div class="modal" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="details-modal-title" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5 class="modal-title" id="details-modal-title"></h5>
           </div>
           <div class="modal-body" id="details-modal-body"></div>
       </div>
   </div>
</div>



{% endblock %}