{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block body %}
<style>

/* Submit Button Animation */


#buttonwrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  font-size:21px;
  letter-spacing:6px;
  color:white;
  overflow: visible;
  margin-top: 2rem;
}

.submit, .loader, .loader-wrapper{
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
}

.submit {
  z-index:2;
  width:16rem;
  height:60px;
  background: #52a9f9; 
  display:block;
  border-radius:0.5rem;
  text-align:center;
  color:rgba(255,255,255,1);
  text-decoration:none;
  transition: all 0.5s ease, line-height 0s ease, color 0.4s ease, filter 0.2s ease;
}

#buttonwrapper::selection, .submit::selection {
  background: transparent;
}

.submit:before {
  content:"";
  z-index:-2;
  width:100%;
  height:100%;
  background: #52a9f9; 
  display:block;
  border-radius:50%;
  position:absolute;
  left:0;
  top:0;
  opacity:0.8;
  transform:scale(0.9) translateY(15px);
  filter:blur(45px);
  transition:all 0.2s ease;
}

.submit:after {
  content:"";
  z-index:-4;
  width:100%;
  height:100%;
  background: #52a9f9; 
  display:block;
  border-radius:50%;
  position:absolute;
  left:0;
  top:0;
  opacity:0;
  transform:scale(1);
}

.submit:hover:before {
  transform:scale(0.9) translateY(5px);
  filter:blur(40px);
}

.submit:active {
  line-height:460%;
  filter:brightness(0.95);
  transition:all 0s;
}

.checked .submit:before {
  top:0px;
  opacity:0;
}

.checked .submit:after {
    animation: submit-after-anim 0.5s 2.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.checked {
   -webkit-filter: url("#goo");
   filter: url("#goo");
}

.white {
  background-color: #ffffff;
  box-shadow: 40px 47px 49px 40px rgba(0, 0, 0, 0.1);
}

.blue {
  background-color: #0084ff;
  }

.blue2 {
  background-color: #7aa5cd;
  box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.1);
  transform:scale(0.2) rotate(30deg) translate(0px);
}

.checked .blue {
  animation: loader-anim-blue 2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .white  {
  animation: loader-anim-white 2s 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.checked .blue2 {
   animation: loader-anim-blue2 2s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loader {
  width:95px;
  height:95px;
  border-radius:50%;
  opacity:0;
  z-index:1;
}

.checked .loader {
  opacity:1;
}

.checked .loader-wrapper {
  animation: wrapper-loader-anim 2.2s linear;
  width:95px;
  height:95px;
  border-radius:50%;
  transform:scale(0)
}

.checked .submit {
  width:140px;
  width:66px;
  border-radius: 50%;
  color:rgba(255,255,255,0);
  background: #5cacf7;
  animation: submit-anim 2s  cubic-bezier(0.39, 0.575, 0.565, 1);
  }


.check-wrapper {
  position:absolute;
  left:0;
  right:0;
  margin:0 auto;
  width:95px;
  height:95px;
  z-index:-1;
  opacity:1;
}

.check-wrapper svg {
  margin-top: 35px;
  margin-left: 24px;
}

.check{fill:none;
  stroke:#ffffff;
  stroke-width:10;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
 stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  z-index:-1;
  }

.checked .check-wrapper {
  z-index:3;
}

.checked .check {
  animation: check 2s 2.2s ease forwards;
}


@keyframes loader-anim-blue {
    0% {transform:scale(0.2) rotate(0deg) translate(220px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(300px, 0px);}
}

@keyframes loader-anim-white {
     0% {transform:scale(0.2) rotate(0deg) translate(300px, 0px); }
  100% {transform:scale(0.2) rotate(1100deg) translate(220px, 0px);}
}

@keyframes loader-anim-blue2 {
  0%,70% {transform:scale(0.2) rotate(30deg) translate(0px); }
  85% {transform:scale(0.2) rotate(30deg) translate(-300px);}
  100% {transform:scale(0.2) rotate(30deg) translate(0px); }
}

@keyframes wrapper-loader-anim {
    0% { transform: scale(0) translateY(0px); }
    10% { transform: scale(1) translateY(20px); }
    50% { transform: scale(1.2) translateY(10px); }
    90% { transform: scale(1) translateY(-10px); }
    100% { transform: scale(0) translateY(0px); }
}

@keyframes submit-after-anim {
  0% {transform:scale(1); opacity:0.3 }
   100% {transform:scale(2); opacity:0 }
}

@keyframes submit-anim {
    0% {transform:scale(1) }
      5%, 95% {transform:scale(0.7) }
  100% {transform:scale(1)}
}

@keyframes check {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}





/*  Gender radio button */


  input[type="radio"] {
        -webkit-appearance: none;
        -moz-appearance: none; 
        appearance: none;
    }

    input[type="radio"][id="male"]:checked + label.male-label {
    background-color: #2c93f4; 
    color: #ffffff;
  }

  input[type="radio"][id="female"]:checked + label.female-label {
    background-color: #ff69b4; 
    color: #ffffff;
  }
  input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
</style>

<section class="h-full w-full flex flex-col items-center justify-center  mb-[4rem] mt-[2rem]">
    <div class="h-[55rem] w-[80rem] flex flex-col items-center justify-center  mb-[4rem] mt-[3rem] border-[0.2rem] border-[#E8F5FF]">


        <div  class="w-full  flex flex-row h-full justify-center items-center">
            <div class="w-4/12 h-full  flex flex-col items-center justify-center  ">
               <div class="w-full h-full  bg-[#D2ECFF] flex flex-col justify-center items-center   rounded-tr-[2.1rem] rounded-br-[2.1rem]">
                <h1 class="text-[2.5rem] mb-[1rem] font-medium">Registration Form</h1>
                <p class="text-[1rem] ml-[1rem] font-normal">After completing the registration process, we will be sending a message to your email and we will inform you with date of the event, location and more details!</p>
                   <img class="w-[28rem]  h-[26rem]" src="{% static 'ActivityEvents/thankyouimageregisteration.png' %}" alt="">
               </div>
            </div>
            <form id="registerform" action="{% url 'registrations'  %}" method="POST"   enctype="multipart/form-data" class="w-8/12 h-full flex flex-col items-center justify-center relative mt-[2rem] mb-[2rem]">
                {% csrf_token %}
                 <div class='w-full h-[8rem] flex flex-row justify-center '>
                      <div class="inputdivparent" >
                          <input name="UsernameRegistration" id="UsernameRegistration" class="inputsclass" type="text" required>
                          <label class="placeholderlabel"   for="UsernameRegistration">Username</label>
                      </div>
                      <div class="inputdivparent ml-[4rem]" >
                        <input name="PhonenumberRegistration" id="PhonenumberRegistration" class="inputsclass" type="tel" required>
                        <label class="placeholderlabel"   for="PhonenumberRegistration">Phone Number</label>
                    </div>
                 </div>
    
                 <div class='w-full h-[8rem] flex flex-row justify-center '>
                    <div class="inputdivparent" >
                        <input name="EmailRegistration" id="EmailRegistration" class="inputsclass" type="email" required>
                        <label class="placeholderlabel"   for="EmailRegistration">Email</label>
                    </div>
                    <div class="inputdivparent  ml-[4rem] " >
                        <input name="DateofbirthRegistration" id="DateofbirthRegistration" class="inputsclass w-[16.8rem]" type="date" required>
                        <label class="placeholderlabel"   for="DateofbirthRegistration">Date of birth</label>
                  </div>
               </div>
    
               <div class='w-full h-[8rem] flex flex-row justify-center '>
                <div class="inputdivparent mr-[3.9rem]  " >
                  <select id="LocationRegistration" class="inputsclass h-[3.6rem] w-[16.8rem] ml-[0.5rem]" name="LocationRegistration"  >
                    <option value="baghdad">baghdad</option>
                    <option value="baghdad">Basra</option>
                    <option value="baghdad">Mosul</option>
                    <option value="baghdad">Najaf</option>
                  </select>
                    <label class="placeholderlabel"   for="EmailRegistration">Location</label>
                </div>
                <div class="inputdivparent  mr-[0.5rem]" >
                    <input name="EventsRegistration" id="EventsRegistration" class="inputsclass w-[16.8rem]  " type="date" required>
                    <label class="placeholderlabel"   for="EventsRegistration">Events</label>
              </div>
           </div>
    
    
    
           <fieldset class="flex justify-center items-center" data-role="choose_gender">
            <legend>Choose your gender:</legend>
            <div>
                <input id="male" type="radio" name="gender" >
                <label class="male-label h-[3.8rem] w-[3.8rem]  rounded-full flex flex-col justify-center items-center relative bg-[#E3F3FF] transition duration-150" for="male">
                    {% bs_icon 'gender-male' size='1.5rem' color="black" %}
                    <span class="text-[0.8rem] font-medium">Male</span>
                </label>
            </div>
            
            <div class="ml-[5rem]">
                <input type="radio" name="gender" id="female">
                <label class="female-label h-[3.8rem] w-[3.8rem]  rounded-full flex flex-col justify-center items-center relative bg-[#E3F3FF] transition duration-150" for="female">
                    {% bs_icon 'gender-female' size='1.5rem' color="black" %}
                    <span class="text-[0.8rem] font-medium">Female</span>
                </label>
            </div>    
        </fieldset>
    
        <div class='w-full h-[8rem] flex flex-row justify-center mt-[1rem] '>
            <div class="inputdivparent" >
                <textarea id="GuestsRegistration"  class="inputsclass " name="GuestsRegistration" cols="62" rows="18"></textarea>
                <label class="placeholderlabel"   for="GuestsRegistration">Guests</label>
            </div>
       </div>
    
    
       <div class='w-full h-[8rem] flex flex-row justify-center mt-[1rem] '>
        <div class="inputdivparent" >
            <textarea id="CommentRegistration"  class="inputsclass " name="CommentRegistration" id="" cols="62" rows="18"></textarea>
            <label class="placeholderlabel"   for="CommentRegistration">Comment</label>
        </div>
    </div>
    
    <div id="buttonwrapper">
        <button  type="submit" class="submit" >Sign Up</button>
           <div class="loader-wrapper">
           <span class="loader white"></span>
           <span class="loader blue"></span>
           </div>
          <span class="loader blue2"></span>
           
       <div class="check-wrapper">
      <svg version="1.1"width="50px" height="26px" viewBox="0 0 64.5 37.4">
      <polyline class="check" points="5,13 21.8,32.4 59.5,5 "/>
      </svg>
       </div>
        
       </div>
    
            </form>
    
        </div>


    </div>
   
</section>

{% endblock %}