{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block body %}
<section class="min-h-screen flex flex-col items-center p-8 pl-9 pr-9 ">
    <div class="flex flex-row w-full h-full justify-center items-center   ">
        <form action="{% url 'signin'  %}" method="POST" class="w-2/5 h-full  flex flex-col items-center justify-center ">
            {% csrf_token %}
            <img class="w-[8rem] h-[2rem]" src="{% static 'ActivityEvents/hub200logo.png' %}" />
            <h3 class="text-[1.6rem] mt-[1rem]">Sign in to Hub200</h3>
            <div class="flex flex-col h-[5rem] mt-[1rem] items-start text-left  ">
                <label class="text-left" for="email">E-mail</label>
                <input class="w-[18rem] h-[2.5rem] rounded-[0.5rem]" type="email" name="email" placeholder="AzizAhsaan@gmail.com" required>
            </div>
            <div class="flex flex-col h-[5rem] mt-[1rem] items-start text-left  ">
                <label class="text-left" for="password">Password</label>
                <input class="w-[18rem] h-[2.5rem] rounded-[0.5rem]" type="password" name="password" placeholder="AzizAhsaan@gmail.com" required>
            </div>
            <div class="w-[18rem] h-full flex flex-row items-center">
                <input class="w-[3rem] h-[2rem] rounded-lg" type="checkbox" name="remeberme">
                <p>Remember me</p>
            </div>
            <a class="text-left  w-[18rem]" href="{% url 'forgotpassword' %}">Forgot Password?</a>
            <button class="w-[18rem] mt-[1rem] h-[3rem] bg-[#499DEC] rounded-[0.5rem] text-white font-semibold text-[1.3rem]" type="submit">Sign in</button>
        </form>
        <div class=" w-3/5 h-full  flex flex-col items-center ">
            <div class="w-9/12 bg-[#D2ECFF] h-full">
                <img src="{% static 'ActivityEvents/signupdone.png' %}" alt="">
            </div>
        </div>

    </div>
</section>

{% endblock %} 