{% extends "ActivityEvents/layout.html" %}
{% load static %}
{% load bootstrap_icons %}
{% block body %}
<section class="h-full w-full flex flex-col items-center justify-center  mb-[2rem] mt-[4rem]">

   <div class="flex flex-row w-[60rem] h-full justify-center items-center border-[0.1rem] border-[#499DEC] rounded-[3rem] overflow-hidden">
            <!--signin page Form -->

     <div id="signinpage" class=" w-11/12	 flex flex-row h-full justify-center items-center  ">
         <form id="signinform"  action="{% url 'signin'  %}" method="POST" class="w-2/5 h-full flex flex-col items-center justify-center ">
             {% csrf_token %}
             <h3 class="text-[1.6rem] mb-[2rem]">Sign in to Hub200</h3>
             <div class="inputdivparent">
                 <input id="inputsigninemail" name="inputsigninemail"  class="inputsclass" type="email" name="email" required>
                 <label class="placeholderlabel" for="email">E-mail</label>

             </div>
             <div class="inputdivparent">
                 <input  id="inputsigninpassword" name="inputsigninpassword" class="inputsclass" type="password" name="password" required>
                 <label class="placeholderlabel"  for="password">Password</label>

             </div>
             <div class="w-[16.5rem] h-full flex flex-row items-center">
                 <input class="w-[1.5rem] h-[1.5rem] rounded-lg" type="checkbox" name="remeberme">
                 <p class="ml-[0.8rem]">Remember me</p>

             </div>
             <a class="text-left  w-[16.5rem] mt-[1rem]" href="{% url 'forgotpassword' %}">Forgot Password?</a>
             <button class="w-[16.5rem] mt-[1rem] h-[3rem] bg-[#499DEC] rounded-[0.5rem] text-white font-semibold text-[1.3rem]" type="submit">Sign in</button>
         </form>

         <div class=" w-3/5 h-full  flex flex-col items-center ">
             <div class="w-full bg-[#D2ECFF] h-full  rounded-tl-[3rem] rounded-bl-[3rem]">
                 <img src="{% static 'ActivityEvents/signinphoto.png' %}" alt="">
             </div>
         </div>
         </div>
    
    <!--signup page Form -->
    
         <div id="signuppage" class=" w-11/12	 flex flex-row h-full justify-center items-center  hidden  ">

             <div class="w-3/5 h-full  flex flex-col items-center justify-center  ">
                <div class="w-full h-[38rem]  bg-[#D2ECFF] flex flex-col justify-center items-center   rounded-tr-[3rem] rounded-br-[3rem]">
                    <img class="w-[28rem]  h-[26rem]" src="{% static 'ActivityEvents/signupdone.png' %}" alt="">
                </div>
             </div>
             <form id="signupform" action="{% url 'signup'  %}" method="POST" enctype="multipart/form-data" class="w-2/5 h-full flex flex-col items-center justify-center ">
                 {% csrf_token %}
                 <h3 class="text-[1.6rem] mb-[2rem]">Sign up to Hub200</h3>
                 <div id="formsubmitpart1" class="flex flex-col w-full h-full justify-center items-center">
                    <div class="avatar-upload">
                        <div class="avatar-edit">
                            <input id="inputphoto" name="inputphoto" type='file'  accept=".png, .jpg, .jpeg" />
                            <div class="w-[2.2rem] h-[2.2rem] bg-[#D2ECFF] rounded-full flex justify-center items-center hover:bg-[#BDBDBD] cursor-pointer">
                                <label class="mt-[0.4rem]" for="inputphoto">{% bs_icon 'pencil' size='1.2rem' color="gray" %}</label>
                            </div>
                        </div>
                        <div class="avatar-preview">
                            <div id="imagePreview" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg);">
                            </div>
                        </div>
                    </div>

                    <div class="inputdivparent" >
                        <input name="inputusernames" id="inputusernames" class="inputsclass" type="text" required>
                        <label class="placeholderlabel"   for="inputusernames">Username</label>
                        <div class="error"></div>


                    </div>
                    <div class="inputdivparent">
                        <input  name="inputphonenumber" id="inputphonenumber" class="inputsclass" type="tel"  required>
                        <label class="placeholderlabel" for="inputphonenumber">Phone Number</label>
                        <div class="error"></div>

                    </div>
                    
                 </div>

                 <div id="formsubmitpart2" class="flex flex-col justify-center items-center w-full h-full hidden">
                    <div class="flex flex-col h-[5rem] mt-[1rem] focus:bg-black  relative items-center ">
                        <input id="inputemail" name="inputemail"  class="inputsclass" type="email"   required>
                        <label class="placeholderlabel" for="inputemail">E-mail</label>
                        <div class="error"></div>

                    </div>
                    <div class="inputdivparent">
                        <input id="inputpassword" name="inputpassword" class="inputsclass" type="password"   required>
                        <label class="placeholderlabel" for="inputpassword">Password</label>
                        <div class="error"></div>

                    </div>
                    <div class="inputdivparent">
                        <input id="inputconfirmpassword"  name="inputconfirmpassword" class="inputsclass" type="password"  required>
                        <label class="placeholderlabel" for="inputconfirmpassword">Confirm Password</label>
                        <div class="error"></div>

                    </div>
                 </div>
                 <button id="buttonsignupnext" class="w-[18rem] mt-[1rem] h-[3rem] bg-[#499DEC] rounded-[0.5rem] text-white font-semibold text-[1.3rem]" type="button">Next</button>
                 <button id="buttonsignupsubmit" class="w-[18rem] mt-[1rem] h-[3rem] bg-[#499DEC] rounded-[0.5rem] text-white font-semibold text-[1.3rem] hidden" type="submit">Sign up</button>
                 <button id="buttonsignupback" class="w-[12rem] mt-[1rem] h-[3rem] bg-[#499DEC] rounded-[0.5rem] text-white font-semibold text-[1.3rem] hidden" type="submit">Back</button>

             </form>
     
         </div>
    
    
     <div class=" w-[8rem]	 h-full bg-white   flex flex-col items-center justify-center ">
            <div class="flex flex-row w-full h-full justify-center items-center border-none">
                <button  type="button" id="showsigninpage" class="w-full h-[5.5rem] text-[1.5rem] flex flex-col justify-center items-center border-none ">
                    <div >{% bs_icon 'box-arrow-in-left' size='3rem' color="black" %}</div>
                    <h4>sign in</h4>
                </button>
                <div id="togglesigninbar" class="h-[8.5rem] w-[1.5rem] bg-[#499DEC] rounded-l-[0.9rem] "></div>
            </div>
            <div class="flex flex-row w-full h-full justify-center items-center mt-[8rem] border-none ">
                <button  type="button" id="showsignuppage" class="w-full h-[5.5rem] text-[1.5rem] flex flex-col justify-center items-center border-none ">
                    <div >{% bs_icon 'box-arrow-in-right' size='3rem' color="black" %}</div>
                    <h4>sign up</h4>
                </button>
                <div id="togglesignupbar" class="h-[8.5rem] w-[1.5rem] bg-[#499DEC] rounded-l-[0.9rem] hidden "></div>

            </div>
    
     </div>
    </div>     

</section>

{% endblock %} 